:root {
  --main-dark: black;
  --main-light: white;
  --main-accent: red;
  --accent: grey;
  --accent-light: #e8e8e8;
}

* {
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--main-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-accent);
}

.container-fluid {
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar-brand {
  margin-right: 0;
}

.nav-link {
  padding-left: 0;
}

nav {
  background-color: var(--main-dark);
  color: var(--main-light);
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--main-accent);
}

/* need to figure out ACTIVE*/
/* .active-page {
  color: var(--main-accent);
} */

.container {
  padding: 0;
  margin: 0;
}

.page-head {
  text-align: center;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.page-subtitle {
  color: var(--main-accent);
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 3em;
}

.card-body {
  padding: 2.5em;
  background-color: var(--accent-light);
  place-content: center;
}

.btn-light {
  background-color: var(--main-dark);
  color: var(--main-accent);
}

.btn-light:hover {
  background-color: var(--main-light);
  color: var(--main-accent);
}

.success-head {
  padding-top: 1em;
  padding-bottom: 1em;
}

.p {
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-link-bal {
  color: var(--main-accent);
}

.nav-link-bal:hover {
  text-decoration: none;
}

.container-data {
  padding: 1em;
  margin: 1em;
}

.allData-head {
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 1em;
}